mwd26-integration/source-app/main/default/flows/Admin_Assisted_Back_Office_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_Started</name>
        <label>Set Started</label>
        <locationX>176</locationX>
        <locationY>374</locationY>
        <assignmentItems>
            <assignToReference>varStartedAt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Back_Office_Callout</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Success</name>
        <label>Check Success</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>Update_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>Is_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Success</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <description>MWD26 admin demo — runs on an Integration Request record page. Calls the Back_Office_Callout subflow to send the record to the Target Org, then updates the record and writes an Integration_Log__c row. No Apex, no hardcoded URL/secret (the subflow uses Named Credential Target_Org_NC).</description>
    <environments>Default</environments>
    <formulas>
        <name>fRequestPayload</name>
        <dataType>String</dataType>
        <expression>&apos;{&quot;requestName&quot;:&quot;&apos; &amp; {!Get_Request.Request_Name__c} &amp; &apos;&quot;,&quot;customerEmail&quot;:&quot;&apos; &amp; {!Get_Request.Customer_Email__c} &amp; &apos;&quot;,&quot;requestDetails&quot;:&quot;&apos; &amp; {!Get_Request.Request_Details__c} &amp; &apos;&quot;,&quot;sourceRecordId&quot;:&quot;&apos; &amp; {!recordId} &amp; &apos;&quot;,&quot;sourceOrg&quot;:&quot;Source&quot;}&apos;</expression>
    </formulas>
    <formulas>
        <name>fResponseBody</name>
        <dataType>String</dataType>
        <expression>&apos;{&quot;success&quot;:&apos; &amp; IF({!vSuccess}, &apos;true&apos;, &apos;false&apos;) &amp; &apos;,&quot;externalRecordId&quot;:&quot;&apos; &amp; {!vExternalRecordId} &amp; &apos;&quot;,&quot;message&quot;:&quot;&apos; &amp; {!vMessage} &amp; &apos;&quot;}&apos;</expression>
    </formulas>
    <interviewLabel>Admin Assisted Back Office Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Admin Assisted Back Office Sync</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Log_Failed</name>
        <label>Log Failed</label>
        <locationX>300</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Failure_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Completed_At__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Correlation_Id__c</field>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direction__c</field>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Endpoint__c</field>
            <value>
                <stringValue>/services/apexrest/mwd26/requests</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>vErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HTTP_Method__c</field>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Name__c</field>
            <value>
                <stringValue>Admin Assisted Back Office Sync</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Request__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Payload__c</field>
            <value>
                <elementReference>fRequestPayload</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_Body__c</field>
            <value>
                <elementReference>fResponseBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Started_At__c</field>
            <value>
                <elementReference>varStartedAt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Code__c</field>
            <value>
                <elementReference>vStatusCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>Integration_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Success</name>
        <label>Log Success</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Completed_At__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Correlation_Id__c</field>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direction__c</field>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Endpoint__c</field>
            <value>
                <stringValue>/services/apexrest/mwd26/requests</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Record_Id__c</field>
            <value>
                <elementReference>vExternalRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HTTP_Method__c</field>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Name__c</field>
            <value>
                <stringValue>Admin Assisted Back Office Sync</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Request__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Payload__c</field>
            <value>
                <elementReference>fRequestPayload</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_Body__c</field>
            <value>
                <elementReference>fResponseBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Started_At__c</field>
            <value>
                <elementReference>varStartedAt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Code__c</field>
            <value>
                <elementReference>vStatusCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <object>Integration_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Request</name>
        <label>Get Request</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Integration_Request__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Request_Name__c</queriedFields>
        <queriedFields>Customer_Email__c</queriedFields>
        <queriedFields>Request_Details__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Failed</name>
        <label>Update Failed</label>
        <locationX>300</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>Log_Failed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Synced_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_Message__c</field>
            <value>
                <elementReference>vErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>Integration_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Success</name>
        <label>Update Success</label>
        <locationX>50</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>Log_Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>External_Record_Id__c</field>
            <value>
                <elementReference>vExternalRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Synced_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_Message__c</field>
            <value>
                <elementReference>vMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <object>Integration_Request__c</object>
    </recordUpdates>
    <screens>
        <name>Confirm_Screen</name>
        <label>Confirm</label>
        <locationX>176</locationX>
        <locationY>254</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Started</targetReference>
        </connector>
        <fields>
            <name>Confirm_Text</name>
            <fieldText>Send this Integration Request to the Back Office? Request: {!Get_Request.Request_Name__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Failure_Screen</name>
        <label>Failure</label>
        <locationX>300</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Failure_Text</name>
            <fieldText>Back Office Sync failed. Error: {!vErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Text</name>
            <fieldText>Back Office Sync completed successfully. External Record Id: {!vExternalRecordId}. Response: {!vMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Back_Office_Callout</name>
        <label>Call Back Office Callout</label>
        <locationX>176</locationX>
        <locationY>494</locationY>
        <connector>
            <targetReference>Check_Success</targetReference>
        </connector>
        <flowName>Back_Office_Callout</flowName>
        <inputAssignments>
            <name>in_requestName</name>
            <value>
                <elementReference>Get_Request.Request_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>in_customerEmail</name>
            <value>
                <elementReference>Get_Request.Customer_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>in_requestDetails</name>
            <value>
                <elementReference>Get_Request.Request_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>in_sourceRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>in_sourceOrg</name>
            <value>
                <stringValue>Source</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vSuccess</assignToReference>
            <name>out_success</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vExternalRecordId</assignToReference>
            <name>out_externalRecordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vMessage</assignToReference>
            <name>out_message</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vStatusCode</assignToReference>
            <name>out_statusCode</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vErrorMessage</assignToReference>
            <name>out_errorMessage</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStartedAt</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vExternalRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vStatusCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
